language: node_js

services:
  - docker

addons:
  ssh_known_hosts:
    - $PUBLICIP

before_deploy:
  - docker build -t hmarks/chucknorris .

docker_deploy:
  provider: script
  script: bash docker_push
  on:
    branch: dev

deploy:
  provider: script
  script:
    - echo $PASSWORD\n | ssh $USERNAME@$PUBLICIP
    - sleep 30
    - bash /tmp/build.sh
  on:
    branch: dev
