sudo: required
services:
  - docker
script:
  - docker build -t hmarks/chucknorris .
before deploy:
  - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
deploy:
  provider: script
  script:
    - docker login -u "$REGISTRY_USER" -p "$REGISTRY_PASS"
  provider: script
  script:
    - sudo docker push hmarks/chucknorris
  on:
    branch: dev
